<h1>Sửa giảng viên</h1>
<form action="/update" method="POST"> 
    ID: <input type="text" name="id" value="<%= giangvien.id %>"><br>
    MaGV: <input type="text" name="MaGV"  value="<%= giangvien.MaGV %>"><br>
    HoTen: <input type="text" name="HoTen"  value="<%= giangvien.HoTen %>"><br>
    DiaChi: <input type="text" name="DiaChi"  value="<%= giangvien.DiaChi %>"><br>
    SDT: <input type="text" name="SDT" value="<%= giangvien.SDT %>"><br>
    <button type="submit">Sửa giảng viên</button>

</form>